<!DoCTYPE html>
<html>
  <head>
    <title>JDaaS</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body style="">
    <div class="container">
      <div class="hero-unit">
        <h1>JDaaS</h1>
        <h2>Jeff Dean as a Service</h2>
        <p><em>v0.0.1</em></p>
      </div>
    </div>
    <div class="container">
      <div class="content" style="margin-left:50px;">
        <h2 id="introduction">Introduction</h2>
        <p>Welcome to Jeff Dean as a Service- A RESTful solution for having Jeff Dean solve all of your problems. Now, us mere mortals outside of the GooglePlex can experience the awesomeness of Jeff at scale.</p>

<h2>Available Paths</h2>
        <ul>
            <li><strong>/jokes</strong> Get a Jeff Dean joke courtesy of the internet/Google interns.</li>
            <li><strong>/advice</strong> Stuck? WWJDD- Get advice from the man himself.</li>
            <li><strong>/numbers</strong> Some numbers Jeff thinks you should know for "back of the envelope" calculations.</li>
        </ul>
  </body>
</html>
